@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

* {
    font-family: 'Mukta', sans-serif;
}

html {
    min-height: 100vh;
    height: 100vh;
}

body {
    min-height: 100vh;
    height: 100vh;
    position: relative;
    padding-bottom: 3rem;
}

/*marge hors nav*/
.body-page {
    min-height: 100vh;
    height: 100vh;
    margin-left: 12rem;
}

.body-page-galleries {
    margin: 0 4rem 0 15rem;
}
