img {
  max-width: 100%;
}

/*section 1*/

.barb-name {
  color: black;
  text-shadow: rgba(0, 0, 0, 0.493) -1px 2px 5px;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.6rem;
}

/* img.arrow {
  width: 4rem;
  height: 4rem;
} */

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.homepage-text-photo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem;
  max-height: 100%;
  transition: background-color 1.5s;
}
.homepage-text-photo-container:hover {
  background-color: rgba(0, 0, 0, 0.568);
  transition: background-color 1s;
  cursor: pointer;
}

.homepage-photo {
  z-index: -1;
  max-height: 90vh;
  /* max-width: 100vh; */
}

.text-over-photo {
  position: absolute;
  color: white;
  letter-spacing: 0.6rem;
  transition: letter-spacing 1s, color 1s;
  font-size: 4vw;
  padding: 1rem;
  margin: 1rem;
  color: transparent;
}
.homepage-text-photo-container:hover .text-over-photo {
  color: white;
  letter-spacing: 0.4rem;
  transition: letter-spacing 1s, color 0.5s;
}

/*section 2*/

/*blablablablaba*/

/*section 2*/

/* .sec-2 {
  padding: 2rem;
  background-color: black;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sec-2-title {
  color: white;
  letter-spacing: 0.8rem;
}

.imgs-container {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.img {
  width: 50%;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  letter-spacing: 0.4rem;
  transition: letter-spacing 1s, filter 0.3s;
  filter: grayscale(0%);
}

.img:hover {
  letter-spacing: 0.2rem;
  transition: letter-spacing 1.2s, filter 0.5s;
  cursor: pointer;
  filter: grayscale(100%);
}

.img-lgd {
  font-size: 2vh;
} */
