* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general*/

a {
    text-decoration: none;
    color: black;
}

a, p {
    font-size: 1.3rem;
}

/*details*/

.navbar {
    background-color: rgb(255, 255, 255);
    top: 0;
    position: fixed;
    width: 15rem;
    height: 100%;
    padding: 1rem;
    /* box-shadow: rgba(0, 0, 0, 0.507) 1px 1px 1px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-all-links {
    margin: 0 rem;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-each-link {
    margin: 1rem;
    display: flex;
    flex-wrap: nowrap;
    letter-spacing: 0.2rem;
    transition: color 1s;
}
.nav-each-link:hover {
    color: rgba(0, 0, 0, 0.61);
    transition: color 0.8s;
}