* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general*/

a {
    text-decoration: none;
    color: black;
}

a, p {
    font-size: 1.3rem;
}

/*details*/

.navbar {
    background-color: rgb(255, 255, 255);
    top: 0;
    position: fixed;
    height: 3rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    box-shadow: black 1px 1px 1px;
}

.nav-all-links {
    margin: 0 1rem;
    width: auto;
    display: flex;
    justify-self: center;
}

.nav-each-link {
    margin: 0 1rem;
    display: flex;
    flex-wrap: nowrap;
}
.nav-each-link:hover {
    color: cornflowerblue;
    transition: color 0.8s;
}