* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --links-grey: rgb(170, 169, 169);
}

/*general*/

a {
  text-decoration: none;
  color: white;
}

a,
p {
  font-size: 1.3rem;
}

/*details*/

.navbar {
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 12rem;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  /* justify-content: center; */
}

.navbar > .absolute-positioning {
  position: absolute;
  top: 15rem;
}

.nav-all-links {
  width: auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.nav-each-link {
  font-size: 1.2rem;
  margin: 1rem 0.6rem;
  display: flex;
  flex-wrap: nowrap;
  letter-spacing: 0.2rem;
  transition: color 1s;
}
.nav-each-link:hover {
  color: var(--links-grey);
  transition: color 0.8s;
}

.nav-gallery-category {
  font-size: 1.2rem;
  margin: 1rem 0.6rem;
  display: flex;
  flex-wrap: nowrap;
  letter-spacing: 0.2rem;
  transition: color 1s;
  color: white;
}

/*subnav*/

.subnav-content {
  display: none;
  -webkit-animation: fade-out 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: fade-out 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}

.subnav:hover > .subnav-content {
  display: flex;
  flex-direction: column;
  top: -1px;
  -webkit-animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
}

.subnav-content .navlinks {
  font-size: 1rem;
  color: white;
  transition: color 1s;
  margin: 0.2rem;
}

.subnav-content .navlinks:hover {
  font-size: 1rem;
  color: var(--links-grey);
  transition: color 1s;
}

/*animation*/

/* .fade-out {
  -webkit-animation: fade-out 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
  animation: fade-out 1s cubic-bezier(0.39, 0.575, 0.565, 1) 0.2s both;
} */

/* ----------------------------------------------
 * Generated by Animista on 2021-5-19 17:14:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */