* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*general*/

a {
    text-decoration: none;
    color: black;
}

a, p {
    font-size: 1.3rem;
}

/*details*/

.navbar {
    background-color: white;
    top: 0;
    position: fixed;
    height: 3rem;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-bottom: crimson 1px solid;
}

.nav-all-links {
    margin: 0 1rem;
}

.nav-each-link {
    margin: 0 1rem;
}
.nav-each-link:hover {
    color: cornflowerblue;
    transition: color 0.8s;
}